#tarteaucitronRoot {

  #tarteaucitronAlertBig {
    position: fixed;
    display: none;
    margin: 0 auto;
    padding: 10px;
    left: 0;
    right: 0;
    width: 100%;
    color: var(--tac-white);
    font-size: 15px;
    text-align: center;
    background: var(--tac-gray-200);
    z-index: 9998;

    p,
    strong {
      color: var(--tac-white);
    }

    strong {
      font-weight: 700;
    }
  }

  .tarteaucitronAlertBigTop {
    top: 0;
  }

  .tarteaucitronAlertBigBottom {
    bottom: 0;
  }
}
