// TarteAuCitron Variables

#tarteaucitronRoot {
  --tac-primary: #387cc6;
  --tac-secondary: #c23ffd;
  --tac-white: #fff;
  --tac-gray-100: #424242;
  --tac-gray-200: #333;
  --tac-bg-panel: #333;
  --tac-green: #4f8a46;
  --tac-red: #c74848;
  --tac-yellow: #fbda26;
  --tac-back-panel: #eee;
  --tac-panel-shadow: #575757;
  --tac-scrollbar-bg: #555;
  --tac-btn-allow-bg: #555;
  --tac-btn-deny-bg: #555;

  --tac-font: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
